{% extends "base.html" %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Quickly Categorize Images</h1>
    <p class="lead text-muted">
      Help us categorize these images to teach DA MACHINE!
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for n in range(3) %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" id="id_image_{{ n }}">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Please select one of the categories listed below</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                {% for c in categories %}
                <button type="button" class="btn btn-sm btn-outline-secondary" data-url="" data-image="{{ n }}" data-category="{{ c.name }}">
                  {{ c.name }}
                </button>
                {% endfor %}
              </div>
              <small class="text-muted"><span class="review_number">X</span> reviews</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='quickcat.js') }}"></script>
{% endblock %}
